.admin-app {
    display: flex;
    height: 100vh;
    width: 100%;
}

.admin-app .admin-nav p {
    font-size: 2em;
    font-weight: 700;
    margin: 0;
}

.admin-app .admin-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.admin-app .admin-nav button {
    background: rgb(9, 9, 9);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: .9em;
    font-weight: 600;
    padding: 0.5em 1em;
}

.admin-app .admin-nav button:hover {
    color: #FFB743;
    transition: 0.3s ease;
}

.admin-app .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #faf9f6; /* opcional */
    margin-left: 20%;
    width: 80%;
    overflow-x: hidden;

}

.admin-app .content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

@media (max-width: 768px) {
    .admin-app {
        display: block;
        height: auto;
        min-height: 100vh;
    }
    .admin-app .main-content {
        margin-left: 0;
        width: 100%;
    }
    .admin-app .admin-nav {
        padding: 1rem;
    }
    .admin-app .content {
        padding: 0 1rem 80px; /* espacio para navbar inferior */
        font-weight: 400;
        justify-content: flex-start;
        align-items: stretch;
    }
}
